.header{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar-img{
    height: 40px;
    width: 40px;
}
.ion-avatar{
    height: auto;
    width: auto;
    text-align: end;
}