.header {
  padding-top: 5px;
  font-size: 26px;
  width: 150px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  color: black;
}
.avatar-img {
  height: 40px;
  width: 40px;
}
.ion-avatar {
  height: auto;
  width: auto;
  text-align: end;
}
.logout {
  font-size: 20px;
  color: black;
  text-align: end;
  padding-top: 12px;
}
