.main-content {
  text-align: center;
}
.content-row {
  height: 100%;
  background-image: url("/familie.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.padding-t {
  padding-top: 14%;
}
.home-header {
  font-size: 40px;
  font-family: cursive;
  color: bisque;
}
.caption-header {
  font-size: large;
  color: white;
}
.page-dimension {
  padding-top: 80px;
}
