.main-content {
  text-align: center;
}
.content-row {
  height: 100%;
  background-image: url("/family.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.padding-t {
  padding-top: 14%;
}
.home-header {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}
.caption-header {
  font-size: large;
  color: black;
}
.page-dimension {
  padding-top: 80px;
}
