.add-member-popup {
  --height: 450px;
  --width: 400px;
  --border-radius: 8px;
}
.modal-header {
  background-color: gray;
}
.modal-footer {
  background-color: gray;
}
.modal-cancel {
  font-size: 35px;
  color: black;
  padding-bottom: 10px;
}
.participant-header-modal {
  color: black;
  padding-top: 4px;
}
